<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render partial: 'user', locals: {
                user: user, customer: @customers[user.customer_id], subscriptions: @subscriptions[user.customer_id]
                } %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
